/* Testimonials.css */

.testimonials {
  background: linear-gradient(to bottom, #f6f6f6, #e6e6fa);
  padding: 40px 0;
  text-align: center;
  overflow: hidden;
}

.testimonial {
  flex: 0 0 calc(25% - 20px);
  /* Adjusted width with spacing */
  /* Adjusted height */
  min-height: 300px;
  /* Set the minimum height you prefer */
  max-height: 450px;
  /* Set the maximum height you prefer */
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  flex-wrap: nowrap;
  min-height: 500px;
}

.testimonial {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s, opacity 0.5s, box-shadow 0.3s;
  transform: scale(0.9);
  opacity: 0.8;
  text-align: center;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.testimonial.active {
  opacity: 1;
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Add a shadow on hover */
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.testimonial img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
  border: 4px solid #ffeb3b;
  transition: border-color 0.3s, transform 0.3s;
  /* Add animation to border and rotation */
}

.testimonial.active img {
  border-color: #ff5722;
  transform: rotate(7deg);
}

.testimonial h3 {
  font-size: 24px;
  color: #0a68b0;
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;
}

.testimonial p {
  color: #666;
  font-size: 16px;
}

.testimonial-text {
  margin-top: 20px;
  color: #333;
  padding: 0 20px;
  line-height: 1.4;
}

.prev,
.next {
  background-color: #ffeb3b;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 3;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, opacity 0.3s;
  /* Add opacity animation */
}

.prev:hover,
.next:hover {
  background-color: #333;
  color: #ffeb3b;
  transform: translateY(-50%) scale(1.2);
  opacity: 0.8;
  /* Slightly transparent on hover */
}

.prev {
  left: 20px;
  opacity: 0.7;
  transform: scale(0.8);
}

.next {
  right: 20px;
  opacity: 0.7;
  transform: scale(0.8);
}